name: CI

on:
  push:
  workflow_dispatch:
    inputs:
      version:
        description: 'Type of version bump.'
        default: patch
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Restore npm cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: nix develop --command npm install
      - run: nix develop --command npm test

  publish-rc:
    runs-on: ubuntu-latest
    needs: test
    if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - name: Restore npm cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: nix develop --command npm clean-install
      - run: nix develop --command npm run release:candidate

  publish-stable:
    runs-on: ubuntu-latest
    needs: test
    if: ${{ github.event_name == 'workflow_dispatch' }}
    env:
      GH_TOKEN: ${{ github.token }}
      GITHUB_ACTOR: ${{ github.actor }}
      VERSION_TO_RELEASE: ${{ inputs.version }}
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - name: Restore npm cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: nix develop --command npm clean-install
      - run: nix develop --command npm run release:stable
